* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic;

  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 2rem;
  padding-bottom: 100px;
}
header {
  margin-top: 80px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #339989;
}
button {
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background-color: #131515;
  color: white;
  font-size: 0.5em;
  cursor: pointer;
}
button:hover {
  box-shadow: 5px 5px 5px #d6d8d8;
}

.wrapper {
  border: 20px solid #131515;
  height: 40rem;
  margin: 50px;
  background-color: #fffafb;
  padding: 10px;
}

.toggleATM {
  font-size: 1.5rem;
  margin-bottom: 40px;
  background-color: #2b2c28;
}
.toggleComponent {
  font-size: 1.2rem;
  background-color: #7de2d1;
}
input {
  line-height: 1.5em;
  width: 10em;
  padding: 5px;
  font-size: 0.5em;
  margin-top: 25px;
}
.transactionBtn {
  font-size: 0.5em;
  background-color: #339989;
}
h2 {
  margin: 30px;
  font-size: 1.5rem;
}
h3 {
  font-size: 2rem;
}
